{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div {{ react_component('auth/AuthButtons', {
        isAuthenticated: app.user is not null,
        username: app.user ? app.user.username : null,
        logoutPath: app.user ? path('app_logout') : null
    }) }}></div>
{% endblock %}