{% extends 'base.html.twig' %}

{% block main_content %}
	<div {{ react_component('layout/Header') }}></div>

	<div {{ react_component('posts/CreatePost') }}></div>

	<div {{ react_component('posts/ListPost') }}></div>
{% endblock %}