{% extends 'base.html.twig' %}


{% block main_content %}
        <div {{ react_component('admin/AdminDashboard', { 
            'csrfTokenDelete': csrf_token('delete-user%s') 
        }) }}>
            Chargement du tableau de bord...
        </div>
{% endblock %}