body {
    background-color: #F3DCB3 !important;
    font-family: 'Cinzel', serif;
}

.bg-color-search {
    background-color: #DFC699 !important;
}

.large-placeholder::placeholder {
    font-size: 2rem;
}

.custom-register-button {
    padding: 5px 25px;
    font-size: 1.2rem;
    background-color: #cfb484;
    border: 2px solid #000;
    cursor: pointer;
}