body {
    background-color: #F3DCB3 !important;
    font-family: 'Cinzel', serif;
}

.bg-color-search {
    background-color: #DFC699 !important;
}

.large-placeholder::placeholder {
    font-size: 2rem;
}



.navbar img {
    width: 40%;
}

.icon-name-appear {
    animation: fadeInUp 0.2s ease-out; /* Durée et type d'animation */
    text-shadow: 0.5px 0.5px 1px #000; /* Ombre légère */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px); /* Départ légèrement en bas */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Position finale */
    }
}