/* Style pour la modal */
.modal-content {
    border-radius: 0 !important;
    border: 2px solid #000 !important;
    background-color: #ffeecf !important;
}

.modal-header {
    border-bottom: 1px solid #000;
    padding: 1rem;
    background-color: #d9b983 !important;
}

.form-control {
    border-radius: 0;
    border: 1px solid #000;
    background-color: #F3DCB3;
}

.form-control:focus {
    box-shadow: none;
    border-color: #000;
    background-color: #F3DCB3;
}

/* Style pour les messages de statut */
.modal-body .status-message {
    text-align: center;
    padding: 10px;
    margin-top: 1rem;
    font-style: italic;
    border: 1px solid #000;
    background-color: #ffeecf;
}

.custom-alert-danger {
    color: #721c24; /* Texte rouge foncé pour le danger */
}

.custom-alert-info {
    color: #0c5460; /* Texte bleu/vert foncé pour l'info */
}

.password-toggle-btn {
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    margin-right: 0.5rem;
    bottom: 0.375rem;
    z-index: 5;
    border: none;
    padding: 0;
}

.login-password-toggle-btn {
    top: 65%;
}

.password-toggle-btn img {
    width: 20px;
    height: 20px;
}

.password-toggle-btn:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}