/* Style pour la modal */
.modal-content {
    border-radius: 0 !important;
    border: 2px solid #000 !important;
    background-color: #ffeecf !important;
}

/* Style pour le header de la modal */
.modal-header {
    border-bottom: 1px solid #000;
    padding: 1rem;
    background-color: #d9b983 !important;
}

/* Style pour les inputs */
.form-control {
    border-radius: 0;
    border: 1px solid #000;
    background-color: #F3DCB3;
}

.form-control:focus {
    box-shadow: none;
    border-color: #000;
    background-color: #F3DCB3;
}

/* Style pour les messages de statut */
.modal-body .status-message {
    text-align: center;
    padding: 10px;
    margin-top: 1rem;
    font-style: italic;
    border: 1px solid #000;
    background-color: #ffeecf;
}

/* Styles pour les messages d'alerte personnalisés */
.custom-alert {
    padding: 0.75rem 1.25rem;
    border-radius: 0; /* Coins carrés cohérents */
    text-align: center;
    font-style: italic;
    background-color: #ffeecf; /* Fond beige cohérent */
}

.custom-alert-danger {
    color: #721c24; /* Texte rouge foncé pour le danger */
}

.custom-alert-info {
    color: #0c5460; /* Texte bleu/vert foncé pour l'info */
}