.notif-bar {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  background: var(--bg-color);
  transition: background 0.2s;
}

.notif-bar:nth-child(even) {
  background: var(--search-bg);
}

.notif-bar.unread {
  background: var(--button-hover);
  font-weight: bold;
}

.notif-bar:hover {
  background: var(--button-hover);
}

.notif-icon {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.notif-content {
  flex: 1;
  color: var(--text-color);
}

.notif-date {
  color: var(--heading-color);
  font-size: 0.85em;
  margin-left: 10px;
}
