.share-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-wrapper .check[type="checkbox"] {
  display: none;
}

.share-wrapper .container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  padding: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.share-wrapper .container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.share-wrapper .icon {
  width: 30px;
  height: 30px;
  fill: var(--text-color, #212529);
  transition: all 0.3s ease-in-out;
}

.share-wrapper .icon.active {
  display: none;
  fill: var(--text-color, #212529);
}

.share-wrapper .check[type="checkbox"]:checked + .container .icon.active {
  display: inline-block;
}

.share-wrapper .check[type="checkbox"]:checked + .container .icon.inactive {
  display: none;
}

.share-wrapper .container:hover > .icon {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.share-wrapper .share-text {
  display: none;
}