{% extends 'base.html.twig' %}

{% block title %}Discussion{% endblock %}

{% block main_content %}
    <div {{ react_component('messagerie/MessageForm', { recipientId: recipientId }) }}></div>
{% endblock %}