{% extends 'base.html.twig' %}

{% block title %}{% if id %}Profil Utilisateur {{ id }}{% else %}Profil Utilisateur{% endif %}{% endblock %}

{% block main_content %}
    {# Pass the id to the ShowProfil component #}
    {# The ShowProfil component will then fetch the specific user's data #}
    <div {{ react_component('userProfil/ShowProfil', { 'targetId': id }) }}></div> {# Pass targetId #}
{% endblock %}