{% extends 'base.html.twig' %}

{% block title %}Accès refusés - 403{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="display-4">403</h1>
        <p class="lead">Où allez vouz cher messager, vous n'avez pas les accès nécessaire.</p>
    </div>
{% endblock %}