{% extends 'base.html.twig' %}

{% block title %}Seveur - 500{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="display-4">500</h1>
        <p class="lead">Oups, il y'a une erreur de connection .</p>
        <p class="lead">Nous sommes désolés pour la gêne occasionné, veuillez réssayer plus tard</p>
    </div>
{% endblock %}